header {
  width: 100%;
  background-color: #1b1b32;
  color: whitesmoke;
}

a {
  text-decoration: none;
}

.icono-portada {
  width: 50px;
  height: 50px;
  color: rgb(243, 75, 8);
}

.icono-portada:hover {
  color: #a3f50b;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.social-links {
  margin: 0 20px;
}

.social-icon {
  color: rgb(243, 75, 8);
  margin: 0 15px;
  font-size: 24px;
  align-items: center;
}

.social-icon:hover {
  color: #a3f50b;
  transition: 0.5s ease-in-out;
}

.boton-menu {
  background-color: #a3f50b; /* Color de fondo */
  border: none; /* Sin borde */
  color: #1b1b32; /* Color de texto */
  font-weight: bold; /* Letra en negrita */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  font-size: 16px; /* Tamaño de fuente */
  margin: 0 20px; /* Margen exterior */
  cursor: pointer; /* Cambiar el cursor a mano */
  border-radius: 75%; /* Bordes redondeados */
  display: inline-block;
  box-shadow: 0 2px 3px 0 rgb(165, 165, 240);
}

.boton-menu:hover {
  background-color: #0a0a0a; /* Cambiar color de fondo al pasar el ratón */
  box-shadow: 0 1px 3px 2px #1919f5; /* Sombras de los botones */
  color: #a3f50b;
  transition: 0.5s ease-in-out;
}
